@font-face {
    font-family: "Proxima Nova";
    src: url('../../assets/Nova.otf');
}
.footer{
    background-color: white !important;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;

}
.data_footer{
    width:80%;
    margin: 0 auto;
}
.line_footer{
    height:1px;
    border: none;
    width:250px;
    background: #dbdbdb;
    margin-left: 0;
}
.media span{
    font-size: 25px;
    margin: 0 10px;
    color:#5b5d5d;
}
.copy{
    background-color: #252729;
    display: flex;
    flex-wrap: wrap;
    color:white;
    justify-content: space-between;
    width:80%;
    margin: 0 auto;
    font-family: "Proxima Nova";

}
.ff p{
    margin: auto 10px;
}
.footer h2{
    font-size: 25px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 10px;
    color:#343638;
}
.footer p{
    font-size: 15px;
    color:#5b5d5d;

}