.login{
    width:100%;
    height:100vh;
    background-size: cover;
    background-position: center;
    background-image: url('https://images.pexels.com/photos/316902/pexels-photo-316902.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');

}
.login_box{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Proxima Nova";
    margin-top: 100px;
}
.card_login{
    background-color: white;
    width:300px;
    height:auto;
    padding: 2%;
    margin: 0 auto;
}
.circle_login{
    width:120px;
    height:120px;
    border-radius:60px;
    background-color: #252729;
    margin: 0 auto;
}
.MuiInput-input-147{
    width:200px !important;

}